@charset "windows-1251";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
	body,td,th,p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	bottom: auto;
}
table {
    width: 100%; /* Ширина таблиц */
   }
td {
    vertical-align: top; /* Выравнивание по верхнему краю ячейки */
   }
.col1 {
    width: 10%; /* Ширина первой колонки */
    /*background: #fc0;*/ /* Цвет фона первой колонки */
   }
.col2 {
    width: 80%;
    /*background: #afccdb;*/ /* Цвет фона второй колонки */
   }
.col3 {
    width: 10%; /* Ширина третьей колонки */
    /*background: #fc0;*/ /* Цвет фона третьей колонки */
   }
.col1, .col2, .col3 {
    padding: 1px; /* Поля вокруг текста */
   }
br {
    text-indent: 0.5in
}
/*Стиль ссылок на странице*/
a:link {
	color: white; /*#009900;*/
	
}
a:visited  {
	
	color: #009900;
}
a:hover {

	color: #990033;
}
a:active {
	
	color: #990033;
}

/*стиль для заглавия страницы*/
.st1 {
	color: white; /*#006600*/
	font-weight: bold;
	font-size: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif
}
/*стиль для главного меню*/
.st2 {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif
}
/*стиль для левого меню*/
.st3 {
		font-weight: bold;
}
/*стиль для заголовка*/
.st4 {
    font-size:16.0pt; color:#10506c;
	/*color: white; /*#006600*/
}
/* стиль для  содержимого страницы*/
.st5  {text-indent: 0.2in;
	text-align:justify;

}
.st51  {text-indent: 0.2in;
	text-align:justify;
		margin-left: 3px;
	margin-top: 1.5px;
	margin-right: 3px;
	margin-bottom: 1.5px;
    background-color:white;	
}
.st6 {
	margin-left: 0.5px;
	margin-top: 0.5px;
	margin-right: 0.5px;
	margin-bottom: 0.5px;
}
.st61 {
	margin-left: 1.5px;
	margin-top: 1.5px;
	margin-right: 1.5px;
	margin-bottom: 1.5px;
    background-color:white;	
}
.st7 {
font-size: 14px; 
font-weight: bold; 
}
/* стиль для  списка*/
.st8 {
	text-indent: 0in;
}
.st9 {
	text-indent: 0in;
	font-weight: bold;
	text-align:justify
}
